<%- include('header.ejs') %>
  <style>
    #navbar-home-text {
      color: #00adb5;
    }
    #bg_image
    {
      width: 100%;
      transition: all linear .5s;
      height: 100%;
      object-fit: none;
    }
    .image-container {
      position: relative;
      text-align: center;
      color: white;
    }
    .image-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      font-size: 5vw;
    }
    .footer {
          position: absolute;
          bottom: 0;
          left:0;
          right: 0;
          width: 100%;
        }
  </style>
  <title>Home - Foodbot</title>
  </div>

  <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/owl.transitions.css">
	    <link rel="stylesheet" href="css/animate.css">
	    <link rel="stylesheet" href="css/custom.css">

	    <script src="js/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>


		<div id="wrapper">
			<div id="overlay-1">
				<section id="starting">
					<div class="text-center starting-text">
						<h1 class="rene">FoodBot</h1>
						<h2>Խնայիր ավելի քան 17 օր ամեն տարի</h2>
					</div>
				</section>
				<div id="bottom" class="bottom text-center">
			        <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
			    </div>
			</div>
		</div>	
		<section id="about">
			<div class="container">
				<div class="row text-center" id="heading">
					<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
						<h3>Մեր նախագծի մասին</h3>
	                	<p>Նոր տեխնոլոգիաները խոհարարական ոլորտում</p>
	                	<hr class="full">
	                	<br/>
					</div>
				</div>	
				<div class="row about-us-text">
					<div class="col-md-8 col-md-offset-2">
						<p class="text-center">Նոր տեխնոլոգիաները միանգամից տեղ են գտնում ցանկացած ոլորտում, և խոհարարական ոլորտը նույնպես բացառություն չէ։ Մարդիկ տարեկան ավելի քան 17 օր ծախսում են ուտելիք պատրաստելու վրա, սակայն հնարավոր է այդ ժամանակը օգտագործել ավելի արդյունավետ։ Ռոբոտները հնարավորություն են տալիս սնվել չկորցնելով ժամանակ եւ գումար, պարզապես անհրաժեշտ է պարբերաբար վերալիցքավորել սննդի պաշարները։ Ռոբոտացված մեխանիզմները բացառում են սննդի մեջ օտար մարմինների հայտնվելը եւ մի քանի անգամ ավելի լավ են պահպանում սանիտարահիգիենիկ կանոնները։ 
						Ունենալով սարքի հասանելիություն համացանցին հնարավոր կլինի աշխարհի ցանկացած կետից պատրաստել ուտելիք սարքի միջոցով և մինչև ձեր ժամանելը այն արդեն պատրաստ կլինի: Հնարավոր է կառավարել օգտվելով սարքի վրա գտնվոց կոճակներից՝ առանց օունենալու սմարթֆոն կամ հասանելություն համացանցին: Նախօրոք նշելով կոնկրետ օր և ժամ՝ կարելի է միխտ ստանալ պատրաստի սնունդ նշված ժամին:</p>
					</div>
				</div>	
			</div>	
		</section>	

  <div class="footer">
    <%- include('footer.ejs') %>
  </div>