<%- include('header.ejs') %>
  <style>
    #navbar-products-text {
      color: #00adb5;
    }
  </style>
  <title>Products - Foodbot</title>
  <div class="footer">
    <%- include('footer.ejs') %>
  </div>